@import 'variables';
@import 'clean-css';

@import 'app';
@import 'filter';
@import 'add-new-note';
@import 'note';

body {
    font-family: 'Raleway', sans-serif;
    color: $black;
    font-weight: 500;
    font-size: 18px;
}

h1 {
    font-size: 42px;
    color: $black;
    font-weight: 900;
}

button {
    padding: 5px 30px;
    border-radius: 25px;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background: none;
    color: $black;
    border: 1px solid $black;

    transition: 0.3s;

    &:hover {
        background: $black;
        color: $white;
    }
}